.book-list {
  border-bottom: 1px solid #e0e0e0;
  padding-bottom: 3%;
}

.buttons-container {
  margin-top: 3%;
}

.buttons-container button {
  background-color: #c0c0c0;
  border: none;
  padding: 1%;
  margin-right: 1%;
  color: #fff;
  cursor: pointer;
}
